<input type="hidden" id="url_base" value="{{head.url_base}}">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <form method="#" action="#">
                <div class="card-header">
                    <h4 class="card-title">
                        Nuevo / Editar sucursal
                    </h4>
                </div>
                <div class="card-content">
                     <div class="form-group">
                        <label>Dirección </label>
                        <input type="text" placeholder="Calle, número, colonia...." class="form-control formulario " id="direccion">
                    </div>
                     <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control formulario" id="telefono" placeholder="Telefono">
                    </div>
                     <div class="form-group">
                        <label>Responsable</label>
                        <input type="text" class="form-control formulario " id="responsable" placeholder="Responsable">
                    </div>
                    <button type="button" id="guardar_sucursal" class="btn btn-fill btn-info">Guardar</button>
                </div>
            </form>
        </div> <!-- end card -->
    </div> <!--  end col-md-6  -->
    <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de sucursales</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Responsable</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#carga out.lista_sucursales}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{direccion}}</td>
                            <td>{{telefono}}</td>
                            <td>{{responsable}}</td>
                            <td class="td-actions text-right">                                
                                <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                                <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                    {{/carga}}
	
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>