<input type="hidden" id="url_base" value="{{head.url_base}}">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <form method="#" action="#">
                <div class="card-header">
                    <h4 class="card-title">
                        Nuevo / Editar pedido
                    </h4>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label>Dia de Pedido</label>
                        <input type="text" class="form-control formulario " id="diaPedido" placeholder="Lunes, Martes, Miercoles, Jueves, Viernes, Sabado.">
                    </div>
                    <div class="form-group">
                        <label>Sucursal</label>
                        <input type="text" placeholder="Sucursal" class="form-control formulario   " id="sucursal">
                    </div>
                    <div class="form-group">
                        <label>Proveedor</label>
                        <input type="text" placeholder="Nombre del proveedor" class="form-control formulario   " id="proveedor">
                    </div>
                    <div class="form-group">
                        <label>Productos</label>
                        <input type="text" class="form-control formulario" id="productos" placeholder="productos">
                    </div>
                    <div class="form-group">
                        <label>Estatus</label>
                        <input type="text" placeholder="Entregado, Cancelado, En proceso..." class="form-control formulario " id="estatus">
                    </div>
                    

                    <button type="button" id="guardar_pedido" class="btn btn-fill btn-info">Guardar</button>
                </div>
            </form>
        </div> <!-- end card -->
    </div> <!--  end col-md-6  -->
    <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de pedidos</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Dia de Pedido</th>
                            <th>Sucursal</th>
                            <th>Proveedor</th>
                            <th>Productos</th>
                            <th>Estatus</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#carga out.lista_predidos}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{diaPedido}}</td>
                            <td>{{sucursal}}</td>
                            <td>{{proveedor}}</td>
                            <td>{{productos}}</td>
                            <td>{{estatus}}</td>
                            <td class="td-actions text-right">                                
                                <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                                <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                    {{/carga}}
	
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>