<input type="hidden" id="url_base" value="{{head.url_base}}">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <form method="#" action="#">
                <div class="card-header">
                    <h4 class="card-title">
                        Nuevo / Editar producto
                    </h4>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label>Producto</label>
                        <input type="text" placeholder="Nombre del producto" class="form-control formulario   " id="producto">
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="text" class="form-control formulario" id="precio" placeholder="$000.00">
                    </div>
                    <div class="form-group">
                        <label>Proveedor</label>
                        <input type="text" placeholder="Nombre del proveedor" class="form-control formulario   " id="nombreProv">
                    </div>
                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="text" placeholder="1...10000" class="form-control formulario " id="cantidad">
                    </div>
                     <div class="form-group">
                        <label>Fecha de Compra</label>
                        <input type="text" class="form-control formulario " id="fechaC" placeholder="00/00/0000">
                    </div>
                    <div class="form-group">
                        <label>Fecha de Venta</label>
                        <input type="text" class="form-control formulario " id="fechaV" placeholder="00/00/0000">
                    </div>

                    <button type="button" id="guardar_producto" class="btn btn-fill btn-info">Guardar</button>
                </div>
            </form>
        </div> <!-- end card -->
    </div> <!--  end col-md-6  -->
    <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de productos</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Fecha de Compra</th>
                            <th>Fecha de Venta</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#carga out.lista_productos}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{producto}}</td>
                            <td>{{precio}}</td>
                            <td>{{nombreProv}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{fechaC}}</td>
                            <td>{{fechaV}}</td>
                            <td class="td-actions text-right">                                
                                <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                                <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                    {{/carga}}
	
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>